body {
	background: black;
	color: white;
	font-family: 'Muli', sans-serif;
	background: url("../images/background.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

h1 {
	text-shadow: 2px 2px 4px #000000;
	text-align: center;
	font-size: 3rem;
	margin: 0 auto;
}

div.select-character{
	display: inline;
}